.creepster {
    font-family: 'Creepster', cursive;
    color: red;
    text-align: center;
}

.barriecito {
    font-family: 'Barriecito', cursive;
    color: white;
}

.josefin {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

